:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(97% 0 0);
  --border: 1px solid oklch(92.2% 0 0);
  --text: oklch(20.5% 0 0);
  --color-mute: oklch(43.9% 0 0);
  --accent: oklch(69.6% 0.17 162.48);
  ---accent-text: oklch(32.559% 0.06998 162.118);
  --links: oklch(51.354% 0.11961 158.268);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(14.5% 0 0);
    --foreground: oklch(20.5% 0 0);
    --border: 1px solid oklch(26.9% 0 0);
    --text: oklch(97% 0 0);
    --color-mute: oklch(70.8% 0 0);
    --accent: oklch(37.8% 0.077 168.94);
    --accent-text: oklch(90.33% 0.09499 169.662);
    --links: oklch(77.988% 0.11482 169.273);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
