@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(97% 0 0);
  --border: 1px solid oklch(92.2% 0 0);
  --text-dark: oklch(21% 0.006 285.885);
  --text-light: oklch(44.2% 0.017 285.786);
  --text-mute: oklch(70.5% 0.015 286.067);
  --icon: oklch(55.2% 0.016 285.938);
  --success-bg: oklch(85% 0.13 145);
  --success-text: oklch(30% 0.13 145);
  --success-border: 1px solid oklch(75% 0.13 145);
  --warning-bg: oklch(88% 0.12 85);
  --warning-text: oklch(30% 0.12 85);
  --warning-border: 1px solid oklch(78% 0.12 85);
  --destructive-bg: oklch(87% 0.13 30);
  --destructive-text: oklch(30% 0.13 30);
  --destructive-border: 1px solid oklch(77% 0.13 30);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(14.5% 0 0);
    --foreground: oklch(21% 0.006 285.885);
    --border: 1px solid oklch(26.9% 0 0);
    --text-dark: oklch(97% 0 0);
    --text-light: oklch(70.8% 0 0);
    --text-mute: oklch(70.5% 0.015 286.067);
    --icon: oklch(55.2% 0.016 285.938);
    --success-bg: oklch(35% 0.13 145);
    --success-text: oklch(85% 0.13 145);
    --success-border: 1px solid oklch(45% 0.13 145);
    --warning-bg: oklch(38% 0.12 85);
    --warning-text: oklch(88% 0.12 85);
    --warning-border: 1px solid oklch(48% 0.12 85);
    --destructive-bg: oklch(37% 0.13 30);
    --destructive-text: oklch(87% 0.13 30);
    --destructive-border: 1px solid oklch(47% 0.13 30);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-dark);
}

a {
  color: inherit;
  text-decoration: none;
}
